{% extends "base.html.twig" %}

{% block title "Uptoboxy" %}

{% block body %}

<div class="jumbotron mt-5">
  <h1 class="display-3">Hébergez vos fichiers !</h1>
  <p class="lead">Uploadez jusqu'à 200 Go et partagez-les avec vos amis.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
      {% include "file/upload/_form.upload.html.twig" %}
  </p>
</div>
    
{% endblock %}