{% extends "base.html.twig" %}

{% block title "Uptoboxy" %}

{% block body %}

<div class="jumbotron mt-5">
  <h1 class="display-5">Partagez rapidement vos fichiers !</h1>
  <p class="lead">Uploadez jusqu'à {{ (max_file_size * 10) | format_file_size }} et partagez-les rapidement avec vos amis.</p>
<div class="mt-3">
	<ul class="list-unstyled">
		<li>✔ 100% Gratuit</li>
		{# <li>✔ Pas de limitation de téléchargement</li> #}
		<li>✔ Jusqu'a {{ max_file_size |format_file_size }} par fichier</li>
		<li>✔ Pas d'inscription requise</li>
	</ul>
</div>

  <hr class="my-4">

  <p class="lead">
     
  </p>
   {% include "file/upload/_form.upload.html.twig" %}
</div>
    
{% endblock %}