{% extends "base.html.twig" %}

{% block title %} Download {{file.fileName}}{% endblock %}

{% block body %}

<div class="mt-5">
    <h1>{{ file.fileName}} ({{ file.fileSize}})</h1>
        <a download href="{{ vich_uploader_asset (file) }}">Linkd.jpg</a>
</div>
    

{% endblock %}