{% extends "base.html.twig" %}

{% block title %}
	Download {{ file.fileName}}
{% endblock %}

{% block body %}
	
	<div class="mt-5 row justify-content-center">
		<div class="p-2 col-sm-12">
			<h2 >{{ file.fileName}}<small> ({{ file.fileSize|format_file_size }}) </small> </h2>
				{% if app.user %}
					{% if app.user.files is not empty %}
			{% for userFiles in app.user.files %}
				{% if userFiles.id != file.id %}
				 	{% include "file/download/_form.add_to_list.html.twig" %}
				{% endif %}
			{% endfor %}

				{% else %}

				{% include "file/download/_form.add_to_list.html.twig" %}

			{% endif %}
		{% endif %}
		</div>
	
		<div class="p-2 col-lg-12">
		<a class="btn btn-success btn-lg" download href="{{ vich_uploader_asset (file) }}">Download</a>
		</div>
	</div>
		
	
{% endblock %}
